{{> header}}

{{!-- banner --}}
{{> carousel}}


{{!-- flexbox --}}
<div class="d-flex" style="height: auto; width:100%; color:#2a6792;margin-bottom:1px">

    {{!-- filter box (left) --}}
    <div style="height:auto;width:25%;background-color:white;padding:1vw;padding-top:2vw">
        {{!-- Header --}}
        <h5 class="text-center" style="margin-bottom:1vw;">BỘ LỌC</h5>

        {{!-- Price filter --}}
        <div style="margin-bottom: 5px;">Giá</div>
        <div class="d-flex" style="margin-bottom:1.5vw;">
            <input placeholder="Min" type="number" id="minprice" min="0" max="1000000000"
                style="width: 45%; border-radius:100px; color:#2a6792; border-color:#2a6792" class="form-control">
            <span style="width: 15%; color:#2a6792" class="text-center"> - </span>
            <input placeholder="Max" type="number" id="maxprice" min="1" max="1000000001"
                style="width: 45%; border-radius:100px; color:#2a6792; border-color:#2a6792" class="form-control">
        </div>

        {{!-- Quantity filter --}}
        <div style="margin-bottom: 5px;">Số lượng tồn</div>
        <div class="d-flex" style="margin-bottom:3vw;">
            <input placeholder="Min" type="number" id="minquantity" min="0" max="1000000000"
                style="width: 45%; border-radius:100px; color:#2a6792; border-color:#2a6792" class="form-control">
            <span style="width: 15%; color:#2a6792" class="text-center"> - </span>
            <input placeholder="Max" type="number" id="maxquantity" min="1" max="1000000001"
                style="width: 45%; border-radius:100px; color:#2a6792; border-color:#2a6792" class="form-control">
        </div>

        {{!-- Submit button --}}
        <div class="d-flex justify-content-center">
            <button class="btn " onclick="HandleFilter()"
                style="background-image:linear-gradient(to right,#91d1de,#2a6792);color:white;width:80%;border-radius: 100px">
                <strong>Lọc sản phẩm</strong>
            </button>
        </div>

    </div>


    {{!-- (right) --}}
    <div style="width:75%; ">
        {{!-- category/sub category name --}}
        {{#if category}}
        <div class="d-flex justify-content-center align-items-center" style="width: 100%;margin-top:2vw;">
            <h5 style="color:#2a6792; text-transform: uppercase;margin-bottom:0">{{category}}</h5>
        </div>
        {{/if}}

        {{!-- sort box --}}
        <div class="d-flex flex-row-reverse align-items-center" style="width: 100%;margin-top:2vw;padding-right:5.5vw;">

            {{!-- dropdown button --}}
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    style="border-color:#2a6792;color:#2a6792;border-radius:100px;border-width:1px;width:14vw">
                    Sắp xếp mặc định
                </button>
                <ul class="dropdown-menu dropdown-menu-custom" style="14vw;border-radius:20px;border-right:0px">
                    <li class="dropdown-item dropdown-item-custom" data-value="priceasc" onclick="HandleSort()">Giá tăng
                        dần</li>
                    <li class="dropdown-item dropdown-item-custom" data-value="pricedesc" onclick="HandleSort()">Giá
                        giảm dần</li>
                    <li class="dropdown-item dropdown-item-custom" data-value="quantityasc" onclick="HandleSort()">Số
                        lượng tăng dần</li>
                    <li class="dropdown-item dropdown-item-custom" data-value="quantitydesc" onclick="HandleSort()">Số
                        lượng giảm dần</li>
                </ul>
            </div>

            {{!-- sort by --}}
            <div style="margin-right: 0.8vw;">Sắp xếp theo</div>
        </div>

        {{!-- product box --}}
        <div class="d-flex flex-wrap" style="padding:1vw 2vw 2vw 2vw">
            {{#each products}}
            <div style="width: 33%;" class="d-flex justify-content-center">
                {{> product_card}}
            </div>
            {{/each}}
        </div>

        {{!-- pagination --}}
        {{>pagination}}
    </div>
</div>


{{> notification_failure}}
{{> notification_success}}

{{> footer}}

<script>

    //TODO: onload, assign value to filter box, sort box, pagination, search box

    // Xử lý url cho filter (button "Lọc sản phẩm")
    function HandleFilter() {
        let minprice = $("#minprice").val();
        let maxprice = $("#maxprice").val();
        let minquantity = $("#minquantity").val();
        let maxquantity = $("#maxquantity").val();

        if (!minprice && !maxprice && !minquantity && !maxquantity) {
            $('#failureNotificationText').text('Chưa nhập bộ lọc!')
            $('#failureNotificationModal').css('display', '');

            return;
        }

        //get current url
        let url = new URL(window.location.href);

        //get the search parameters from the url
        let params = new URLSearchParams(url.search);

        //remove the filter parameters
        params.delete('minprice');
        params.delete('maxprice');
        params.delete('minquantity');
        params.delete('maxquantity');
        params.delete('sort');
        params.delete('page'); //?


        //add the filter parameters
        if (minprice)
            params.set('minprice', minprice);
        if (maxprice)
            params.set('maxprice', maxprice);
        if (minquantity)
            params.set('minquantity', minquantity);
        if (maxquantity)
            params.set('maxquantity', maxquantity);

        //set the search parameters back to the url
        url.search = params.toString();

        //navigate to the new url
        window.location.href = url.toString();

    }

    // Xử lý url cho sort (dropdown "Sắp xếp theo")
    function HandleSort() {
        let sort = event.target.dataset.value;

        //get current url
        let url = new URL(window.location.href);

        //get the search parameters from the url
        let params = new URLSearchParams(url.search);

        //remove the sort parameter
        params.delete('sort');

        //add the sort parameter
        if (sort)
            params.set('sort', sort);

        //set the search parameters back to the url
        url.search = params.toString();

        //navigate to the new url
        window.location.href = url.toString();
    }

    // minprice on change
    $("#minprice").change(function () {

        let minprice = parseInt($("#minprice").val());
        let maxprice = parseInt($("#maxprice").val());

        if (!$("#maxprice").val())
            $("#maxprice").val(1000000001);

        if (minprice >= maxprice) {
            $("#minprice").val(maxprice - 1);
        }
    });

    // maxprice on change
    $("#maxprice").change(function () {
        let minprice = parseInt($("#minprice").val());
        let maxprice = parseInt($("#maxprice").val());

        if (!$("#minprice").val())
            $("#minprice").val(0);

        if (maxprice <= minprice) {
            $("#maxprice").val(minprice + 1);
        }
    });

    // minquantity on change
    $("#minquantity").change(function () {

        let minquantity = parseInt($("#minquantity").val());
        let maxquantity = parseInt($("#maxquantity").val());

        if (!$("#maxquantity").val())
            $("#maxquantity").val(1000000001);

        if (minquantity >= maxquantity) {
            $("#minquantity").val(maxquantity - 1);
        }
    });

    // maxquantity on change
    $("#maxquantity").change(function () {
        let minquantity = parseInt($("#minquantity").val());
        let maxquantity = parseInt($("#maxquantity").val());

        if (!$("#minquantity").val())
            $("#minquantity").val(0);

        if (maxquantity <= minquantity) {
            $("#maxquantity").val(minquantity + 1);
        }
    });
</script>