{{!-- Background color --}}
<div style="width:100vw;height:100vh;background-color:#ededed" class="d-flex align-items-center justify-content-center">

    {{!-- Container White Box --}}
    <div style="width:60vw;height:83vh;" class="shadow d-flex">

        {{!-- Left side --}}
        <div style="width: 70%;height:100% ;background-color:white"
            class="d-flex flex-column align-items-center justify-content-center;">

            {{!-- Header --}}
            <div class="d-flex">
                <img src="/public/resource/icon.ico" style="width: 3vw;height:3vw;margin-right:1vw" class="mb-4 mt-5">
                <h2 class="mb-4 mt-5" style="color: #2a6792;">HELLO!</h2>
            </div>

            {{!-- Form --}}
            <form id="signinForm" style="width: 50%;" action="/account/login" method="post"> {{!-- Login ko có ajax --}}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control {{#if error}}is-invalid{{/if}}" id="username" name="username"
                        placeholder="user1" style="border-radius: 100px" value="{{oldUsername}}" required>
                    <label for="username" class="text-body-tertiary">Tên đăng nhập</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control {{#if error}}is-invalid{{/if}}" id="password"
                        name="password" placeholder="123" style="border-radius: 100px" value="{{oldPassword}}" required>
                    <label for="password" class="text-body-tertiary">Mật khẩu</label>
                </div>

                <div class="form-check mb-3" style="margin-left:0.8vw">
                    <input class="form-check-input" type="checkbox" id="rememberme" name="rememberme" />
                    <label class="text-body-tertiary" for="rememberme">Ghi nhớ đăng nhập</label>
                </div>

                <button class="btn mb-5"
                    style="background-image:linear-gradient(to right,#91d1de,#2a6792);color:white;width:100%;border-radius: 100px">
                    <strong>Đăng nhập</strong>
                </button>

            </form>

            {{!-- Google --}}
            <form action="/account/google" method="get" style="width: 100%; display:flex;justify-content:center">
                <button class="btn" style="width:50%;border-radius: 100px;background-color:#ededed">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/free-google-1772223-1507807.png"
                        style="width: 1.5vw;height:1.5vw;margin-right:5px;">
                    Đăng nhập với <strong>Google</strong>
                </button>
            </form>
        </div>

        {{!-- Right side --}}
        <div
            style="width: 30%;background-image:linear-gradient(35deg,#91d1de,#2a6792);overflow: hidden;position: relative;">
            {{!-- Header --}}
            <h3 class="mb-4 mt-5 text-center" style="color: white;z-index:10;position:relative">Là bạn mới?</h3>
            <p class="text-center text-white" style="z-index:10;position:relative;margin-bottom:24vh">Đăng ký để khám phá thêm nhiều tính năng khác nhé!</p>

            <div class="d-flex justify-content-center">
                <a class="btn border border-white rounded-pill border-3" href="/account/register"
                    style="text-decoration: none; color:white;z-index:10;position:relative; width:50%;">
                    <strong>Đăng ký</strong>
                </a>
            </div>

            <div style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.1);">
            </div>

        </div>

    </div>

</div>


{{> notification_success}}
{{> notification_failure}}

<script>
    var error = "{{error}}";
    $(() => {
        if (error) {
            $('#failureNotificationText').text(error)
            $('#failureNotificationModal').css('display', '');
        }
    });
</script>