{{!-- Header --}}
{{> header}}

{{!-- Background color --}}
<div style="width:100vw;height:110vh;background-color:#ededed" class="d-flex align-items-center justify-content-center">

    {{!-- Container White Box --}}
    <div style="width:60vw;height:95vh;" class="shadow d-flex">

        {{!-- Left side --}}
        <div
            style="width: 30%;background-image:linear-gradient(35deg,#91d1de,#2a6792);overflow: hidden;position: relative;">
            {{!-- Header --}}
            <h3 class="mb-4 mt-5 text-center" style="color: white;z-index:10;position:relative">Đã có tài khoản?</h3>
            <p class="text-center text-white" style="z-index:10;position:relative;margin-bottom:24vh">Đăng nhập để khám phá thêm nhiều tính năng khác nhé!</p>

            <div class="d-flex justify-content-center">
                <a class="btn border border-white rounded-pill border-3" href="/account/login"
                    style="text-decoration: none; color:white;z-index:10;position:relative; width:50%;">
                    <strong>Đăng nhập</strong>
                </a>
            </div>

            <div style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.1);">
            </div>

        </div>

        {{!-- Right side --}}
        <div style="width: 70%;height:100% ;background-color:white"
            class="d-flex flex-column align-items-center justify-content-center;">

            {{!-- Header --}}
            <div class="d-flex">
                <img src="/public/resource/icon.ico" style="width: 3vw;height:3vw;margin-right:1vw" class="mb-3 mt-3">
                <h2 class="mb-3 mt-3" style="color: #2a6792;">ĐĂNG KÝ</h2>
            </div>

            {{!-- Form --}}
            <form id="signupForm" style="width: 50%;"> {{!-- Nhớ sửa chỗ này lại thành AJAX --}}
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="username" name="username" placeholder="user1"
                        style="border-radius: 100px" required>
                    <label for="username" class="text-body-tertiary">Tên đăng nhập</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="password" class="form-control" id="password" name="password" placeholder="123"
                        style="border-radius: 100px" required>
                    <label for="password" class="text-body-tertiary">Mật khẩu</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="password" class="form-control" id="retypepassword" name="retypepassword"
                        placeholder="123" style="border-radius: 100px" required>
                    <label for="retypepassword" class="text-body-tertiary">Nhập lại mật khẩu</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="name" name="name" placeholder="user1"
                        style="border-radius: 100px" required>
                    <label for="name" class="text-body-tertiary">Họ tên</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="email" class="form-control" id="email" name="email" placeholder="abd@demo.com"
                        style="border-radius: 100px" required>
                    <label for="email" class="text-body-tertiary">Email</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="address" name="address" placeholder="123 ABC"
                        style="border-radius: 100px" required>
                    <label for="address" class="text-body-tertiary">Địa chỉ</label>
                </div>

                <button class="btn"
                    style="background-image:linear-gradient(to right,#91d1de,#2a6792);color:white;width:100%;border-radius: 100px">
                    <strong>Đăng ký</strong>
                </button>

            </form>
        </div>



    </div>

</div>

{{> notification_success}}
{{> notification_failure}}

<script>
    $("#signupForm").on("submit", async function (e) {
        e.preventDefault();

        let data = $(this).serializeArray().reduce((obj, field) => ({ ...obj, [field.name]: field.value }), {});
        const res = await fetch(`/account/register`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });

        const resData = await res.json();
        if (res.ok) {
            $('#successNotificationtext').text(resData.message + ` Chuyển đến trang đăng nhập trong... ` + 3); // 3 seconds
            $('#successNotificationModal').css('display', '');

            // Clear form
            $('#signupForm').trigger("reset");

            // Wait 3 seconds, redirect to login page
            let count = 3;
            let interval = setInterval(() => {
                count--;
                $('#successNotificationtext').text(resData.message + ` Chuyển đến trang đăng nhập trong... ${count}`);
                if (count === 0) {
                    clearInterval(interval);
                }
            }, 1000);
            setTimeout(() => {
                window.location.href = "/account/login";
            }, 3000);

        }
        else {
            $('#failureNotificationText').text(resData.message);
            $('#failureNotificationModal').css('display', '');

            // Check error code
            if (res.status == 401) {

                $('#username').addClass('is-invalid');

                $('#password').removeClass('is-invalid');
                $('#retypepassword').removeClass('is-invalid');
                $('#email').removeClass('is-invalid');
            }
            else if (res.status == 402) {
                $('#password').addClass('is-invalid');
                $('#retypepassword').addClass('is-invalid');

                $('#username').removeClass('is-invalid');
                $('#email').removeClass('is-invalid');
            }
            else if(res.status == 403){
                $('#email').addClass('is-invalid');

                $('#username').removeClass('is-invalid');
                $('#password').removeClass('is-invalid');
                $('#retypepassword').removeClass('is-invalid');
            }

        }
    });
</script>