{{!-- Background color --}}
<div style="width:100vw;height:100vh;background-color:#ededed" class="d-flex align-items-center justify-content-center"> 

    {{!-- Container White Box --}}
    <div style="width:60vw;height:70vh;background-color:white" class="shadow">

        <div style="width: 70%;height:100% ;background-color:black">

        </div>

    </div>

</div>