<div id="formConfirmPassword"
    style="display:none;position: fixed; z-index: 11; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.4); ">
    <div style="display:flex;justify-content:center;align-items:center;width:100%;height:100%">
        <div
            style="background-color: white; width: 370px; height: 200px; padding: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 10px;">
            <div class="d-flex align-items-center flex-column mb-2 justify-content-center" style="height: 60%;">
                <div>Vui lòng xác nhận giao dịch</div>
            </div>
            <div class="text-center">
                <button id="closeConfirmPassword"
                    style="background-image:linear-gradient(to right,#91d1de,#2a6792);color:white;width:160px;border-radius: 100px;border:none;height:6vh">
                    <strong>Xác nhận</strong>
                </button>
                <input type="hidden" id="amount_send_server" value="0">
            </div>
        </div>
    </div>
</div>

\
<script>
    $('#closeConfirmPassword').click(async function () {
        const amount_send_server = document.getElementById('amount_send_server');

        const data = {
            amount: amount_send_server.value
        }
        var status = 500;
        fetch('/account/addfund', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                status = response.status;
                return response.json();
            })
            .then(data => {
                if (status != 200) {
                    $('#failureNotificationModal').css('display', 'flex');
                }
                else {
                    $('#successNotificationModal').css('display', 'flex');
                }
            })
            .catch(error => {
                // Xử lý lỗi nếu có
                console.error('Error:', error);
            });
        $('#formConfirmPassword').css('display', 'none');
    });
</script>