<div id="confirmNotificationModal"
    style="display:none;position: fixed; z-index: 11; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.4); ">
    <div style="display:flex;justify-content:center;align-items:center;width:100%;height:100%">
        <div
            style="background-color: white; width: 370px; height: 200px; padding: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 10px;">
            <div class="d-flex align-items-center mb-4" style="height: 60%;">
                <i class="fa-regular fa-circle-question fa-4x" style="color: #146aff; margin-right:1.5vw"></i>
                <div id="confirmNotificationText">This is an example notification</div>
            </div>
            <div class="text-center">
                <button id="confirmConfirmModal"
                    style="background-image:linear-gradient(to right,#91d1de,#2a6792);color:white;width:120px;border-radius: 100px;border:none;height:6vh;margin-right:10px">
                    <strong>Xác nhận</strong>
                </button>

                <button id="closeConfirmModal"
                    style="background-image:linear-gradient(to right,#ffd986,#ff0000);color:white;width:120px;border-radius: 100px;border:none;height:6vh;margin-left:10px">
                    <strong>Hủy</strong>
                </button>
            </div>
        </div>
    </div>
</div>

{{!-- cái notibox này hiện hay không sẽ do ajax quản lý --}}

<script>
    $('#closeConfirmModal').click(function () {
        $('#confirmNotificationModal').css('display', 'none');
    });
</script>