{{> header}}
<div class="content" style="padding: 4vh;">
    <div class="page-heading d-flex justify-content-between align-items-center">
        <h1 class="page-heading-title">{{header}}</h1>
        <a href="{{newurl}}" class="btn btn-primary">THÊM {{header}}</a>
    </div>    
    {{> listtable}}
</div>